<html>
  <head>
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
      integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
      crossorigin="anonymous"
    />
    <script
      src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
      integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
      crossorigin="anonymous"
    ></script>
    <title>Сравнение фильмов</title>
  </head>

  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Filmash</h1>
        <p class="lead">Сервис для сравнения фильмов :)</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="text-center">
            <img
              src="static/film_posters/TheMatrix.jpg"
              alt="The Matrix"
              class="rounded"
              style="height: 300px"
            />
            <p>Матрица</p>
          </div>
        </div>

        <div class="col-sm">
          <div class="text-center">
            <img
              src="static/film_posters/TheMatrixReloaded.jpg"
              alt="The Matrix Reloaded"
              class="rounded"
              style="height: 300px"
            />
            <p>Матрица: Перезагрузка</p>
          </div>
        </div>

        <div class="col-sm">
          <div class="text-center">
            <img
              src="static/film_posters/TheMatrixRevolutions.jpg"
              alt="The Matrix Revolutions"
              class="rounded"
              style="height: 300px"
            />
            <p>Матрица: Революция</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
